@require 'globals.styl'

body
	margin 0
	color #222
	font-size 12pt
	font-family Tahoma, Arial

a
	color fah-green
	text-decoration none

button, input[type="submit"], a.button
	outline 0 !important
	font-size inherit
	font-family inherit
	color #222
	border 1px solid #333
	border-radius 2px
	margin 3px
	padding 7px 10px
	background-color #fff
	cursor pointer
	&:hover
		background-color fah-green-very-light
	&:active
		outline none
		background-color fah-green-light

button:disabled, input[type="submit"]:disabled, a.button.disabled
	pointer-events none
	filter opacity(0.15)
	background-color #fff !important
	cursor default

#login
	width 100vw
	height 100vh
	display flex
	flex-direction column
	justify-content center
	align-items center
	overflow hidden

#info
	text-align center

#users
	display flex
	margin-bottom 50px

@media (orientation: portrait)
	#users
		flex-direction column

#listings
	max-width 1000px
	margin 0 auto
	padding 20px
	> span
		display block
		font-size 18pt
		margin-bottom 10px

#toolbar
	font-size 10pt
	margin-bottom 15px
	display grid
	align-items center
	grid-template 1fr 1fr / 5fr 2fr auto
	grid-template-areas:
		"filters sort update"\
		"count count count"
	.filters
		grid-area filters
			line-height 5px
		input
			margin 0 4px 0 15px
			vertical-align: bottom;
			position: relative;
			top: -1px;
		label
			display inline-block
	.sort
		grid-area sort
	.source
		grid-area source
	.update
		grid-area update
		margin-left 20px
	.sort, .source, .update
		justify-self end
	.count
		grid-area count

#items
	display flex
	flex-direction column
	font-size 10pt
	.item
		height 100px
		margin-bottom 5px
		padding 3px
		border-radius 2px
		flex 1
		border 1px solid #aaa
		box-shadow 1px 1px 1px -1px #777
		display grid
		color #222
		align-items center
		grid-template 1fr 1fr 1fr 1fr / 130px 0.8fr 1.2fr 1fr 1fr 1fr 150px
		grid-template-areas:
			"icon name  name     name       name       name     actions"\
			"icon price ppprice  distance   distance   distance actions"\
			"icon beds  bedtypes date       date       date     actions"\
			"icon baths points   furnishing furnishing source   actions"
		&.rejected
			background-color (reaction-veto) + 85%
		&.approved
			background-color (reaction-approve) + 90%
		&.viewed
			filter opacity(0.3)
		& > *
			box-sizing border-box
		.bad
			color #e85321
		.icon
			align-self center
			justify-self center
			grid-area icon
			padding-right 10px
			max-width 100%
			max-height 100%
		.date
			grid-area date
		.name
			font-weight bold
			grid-area name
		.distance
			grid-area distance
		.price
			font-weight bold
			grid-area price
		.ppprice
			grid-area ppprice
		.furnishing
			grid-area furnishing
		.beds
			font-weight bold
			grid-area beds
		.bedtypes
			grid-area bedtypes
		.points
			grid-area points
		.baths
			font-weight bold
			grid-area baths
		.source
			grid-area source
			display block
			background-size contain
			background-origin content-box
			padding 2px
			background-repeat no-repeat
			width 100%
			cursor pointer
			height 100%
			&.source-daft
				background-image url(img-daft)
			&.source-rent
				background-image url(img-rent)
			&:hover
				background-color fah-green-very-light
			&:active
				background-color fah-green-light
		.actions
			height 100%
			display flex
			flex-direction column
			grid-area actions
			filter opacity(0.25)
			transition filter 0.4s
			&:hover
				filter unset
			.buttons
				.reaction-approve:hover
					background-color (reaction-approve) + 40%
					&:active
						background-color (@background-color) - 20%
				.reaction-meh:hover
					background-color (reaction-meh) + 30%
					&:active
						background-color (@background-color) - 20%
				.reaction-disapprove:hover
					background-color (reaction-disapprove) + 40%
					&:active
						background-color (@background-color) - 20%
				.reaction-veto:hover
					background-color (reaction-veto) + 60%
					&:active
						background-color (@background-color) - 20%
			.reactions
				margin-top 5px
				font-weight bold
				overflow hidden
				.reaction-approve
					color (reaction-approve) - 30%
				.reaction-meh
					color (reaction-meh) - 35%
				.reaction-disapprove
					color (reaction-disapprove)
				.reaction-veto
					color (reaction-veto)
				.reaction-viewed
					color #777
				.no-reactions
					color #aaa
					font-weight normal
				> span
					left 0px
					transition left 0.5s ease-out, opacity 0.7s
					position relative
					margin 0 1px
					&.new
						position relative
						left 300px
						opacity 0
			.status
				text-align center
				font-weight bold
				font-size 14pt
				.approved
					color reaction-approve
				.rejected
					color reaction-veto
				.viewed
					color #777

#pagenav
	margin 40px auto 20px auto
	text-align center
