extends templates/main.pug

block body
	#listings
		span Listings
		form(action="/filter" method='post')#toolbar
			.filters
				span Show:
				each filter, i in view.checkboxes
					-
						let a = filter[0] ? { checked : '' } : {};
					label(for='filter-' + filter)
						input(type='checkbox' id='filter-' + filter, 
							name=i)&attributes(a)
						=filter[1]
			.sort
				span Sort by:
				select(name='sort')
					each sort in ['score', 'price', 'date', 'proximity']
						-
							let selected = view.dropdowns.sort[0] == sort;
							let a = selected ? { selected : '' } : {};
						option(value=sort)&attributes(a)= sort
			.update
				input(type='submit' value='Update')
			.count
				span.
					Displaying <b>#[=listings.length]</b> out of
					<b>#[=totalListings]</b> selected listings.
					<b>#[=maxListings]</b> in database.
		#items
			if listings.length == 0
				span.empty-notice.
					No more listings to display. Check back in a day or so as
					new listings are constantly added to Daft.
			each item in listings
				.item(data-id=item.id class=item.type)
					img(src=item.iconUrl).icon
					span.name= item.name || '(unknown address)'
					span.price= '€' + item.price
					-
						let beds = Math.max(item.beds, 2);
						let ppprice = (+item.price / beds);
						let far = item.distance > 8;
					span(class=item.expensive ? 'bad' : '').ppprice
						= '€' + (ppprice | 0) + ' p.p.'
					if item.beds
						span.beds= item.beds + ' beds'
						span.bedtypes= item.bedTypesString
					if item.baths
						span.baths
							= item.baths + (item.baths > 1 ? ' baths' : ' bath')
					if item.distance
						span(class=far ? 'bad' : '').distance
							= item.distance + 'km'
					span(class=item.furnishing ? '' : 'bad').furnishing
						= !item.furnishing ? 'unfurnished' : 'furnished'
					span.points= item.score + ' points'
					span(title=item.date class=item.old ? 'bad' : '')
						.date= item.dateAgo
					a(href=item.url class='source-' + item.source).source
					.actions
						-
							let a = { disabled: 'disabled' };
							if (!item.reactions.some(r => {
								return r.user.id == user.id
							})) a = {};
						.buttons
							if item.type == 'normal'
								button.reaction.reaction-approve&attributes(a).
									Yes
								button.reaction.reaction-meh&attributes(a).
									Meh
								button.reaction.reaction-veto&attributes(a).
									No
							else if item.type == 'approved'
								button.reaction.reaction-viewed.
									Mark viewed
						.reactions
							if item.type == 'viewed'
							else if item.reactions.length == 0
								span.no-reactions No reactions yet
							else
								each reaction in item.reactions
									span(class='reaction-' + reaction.reaction)
										= reaction.user.nick
						.status
							if item.type == 'rejected'
								span.rejected Rejected
							if item.type == 'approved'
								span.approved Approved
							if item.type == 'viewed'
								span.viewed Viewed
		#pagenav
			- page = 1
			while page <= pageCount && pageCount > 1
				- disabled = page == curPage ? 'disabled' : ''
				a.button(href='?page=' + page class=disabled)= page++
					
